:root {
  --primary: rgb(239, 133, 205);
  --bg: rgb(255, 194, 204);
  --button: rgb(246, 142, 159);
  --border: rgb(186, 51, 186);
}

/* __________DESKTOP__________ */
@media screen and (min-width: 700px) {
  .card {
    position: absolute;
    z-index: 99;
    width: 20rem;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 2rem;
    width: 40rem;
  }
}

@font-face {
  font-family: 'Rubik Bubbles';
  src: url('./fonts/RubikBubbles-Regular.woff2') format('woff2'),
    url('./fonts/RubikBubbles-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mansalva';
  src: url('./fonts/Mansalva-Regular.woff2') format('woff2'),
    url('./fonts/Mansalva-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /*
  background-image: url('./images/haha1x.png');
  background-color: pink; */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  z-index: 99;
  width: 20rem;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin: 2rem;
  width: 15rem;
}

h1 {
  font-family: 'Rubik Bubbles';
  color: var(--primary);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

button {
  background-color: var(--button);
  margin: 2rem;
  padding: 1rem;
  border: solid var(--border);
  border-radius: 1rem;
  font-family: 'Mansalva';
}

/* .mouth {
  position: absolute;
} */

/* .mouth.hide {
  display: none;
} */

.kul {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.mouth {
  transform: rotate(0deg);
  transition: transform 60s linear;
}

audio {
  width: 15rem;
  height: 5rem;
  padding: 1rem;
}

span {
  align-self: flex-end;
  font-family: 'Mansalva';
  font-size: 0.5rem;
  margin: 0;
  color: var(--primary);
}
